<div class="row">
  <h1>Stadiums</h1>
  <% stadiums.forEach(stadia => { %>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="<%=stadia.photo%>">
          <span class="card-title"><%=stadia.name%></span>
        </div>
        <div class="card-content">
          <h6><%=stadia.address%></h6>
          <h6><%=stadia.team%></h6>
        </div>
        <div class="card-action">
          <a href="/stadiums/<%= stadia._id %>">More Info</a>
        </div>

      </div>

    </div>
    <% }) %>
  </div>
