<div class="row">
  <h1><%= stadiums.name %></h1>
  <img class="responsive-img" src="<%= stadiums.photo%>" alt="">
  <h5><%= stadiums.address %></h5>
  <h5><%= stadiums.team %></h5>

  <form class="" action="/stadiums/<%= stadiums.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn red">DELETE</button>
    </form>
  <form action="/stadiums/<%= stadiums._id %>/edit">
    <input type="hidden" value="Edit" />
    <button class="btn orange">Edit</button>
  </form>

<h4>Post a comment</h4>
<form action="/stadiums/<%= stadiums.id %>/comments" method="post">
  <input type="text" name="content">
  <input type="submit">
</form>

<h4>Listing Comments</h4>
<% stadiums.comments.forEach(comment => { %>
  <div>
    <p><strong><%= comment.user.username %></strong><%= comment.content %></p>
    <form method="post" action="/stadiums/<%= stadiums.id %>/comments/<%= comment.id %>">
    console.log("/stadiums/<%= stadiums.id %>/comments/<%= comment.id %>")
      <input type="hidden" name="_method" value="delete">
      <button type="submit">Delete Comment</button>
    </form>
  </div>
<% }); %>
</div>
