<div class="row">
  <h1><%= stadiums.name %></h1>
  <img class="responsive-img" src="<%= stadiums.photo%>" alt="">
  <h5><%= stadiums.address %></h5>
  <h5><%= stadiums.team %></h5>
  <h5><%= stadiums.user %></h5>
  <form class="" action="/stadiums/<%= stadiums.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn red">DELETE</button>
    </form>
  <form action="/stadiums/<%= stadiums._id %>/edit">
    <input type="hidden" value="Edit" />
    <button class="btn orange">Edit</button>
  </form>
</div>
